.category-name,
.category-description {
  line-height: 22px;
  text-align: left;
}

.category-name {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.category-description {
  font-size: 16px;
  font-weight: 400;
  color: #aaaaaa;
}

.categories table {
  border-collapse: separate !important;
  border-spacing: 0 10px !important;
}

.categories table tr td {
  padding: 10px;
  overflow: hidden;
}

.categories table tr td:first-child {
  background: linear-gradient(
    90deg,
    rgba(30, 37, 51, 0.8) 0%,
    rgba(22, 28, 40, 0.8) 100%
  );
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.categories table tr td:last-child {
  background: rgba(22, 28, 40, 0.8);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
