{{!-- <div class={{this.classNames}}> --}}

{{!-- <CategoryBoxes @categories={{@outletArgs.categories}} /> --}}
{{!-- <CategoriesGroups @categories={{@outletArgs.categories.content}} /> --}}

{{! </div> }}