/* ===========================
   Global Styles
=========================== */

*::-webkit-scrollbar {
  display: none;
}

body {
  background: url($BG_Main);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: XXII Centar;
}

#main-outlet-wrapper {
  background-color: rgba(16, 21, 32, 0.9);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(0.3rem);
}

.btn {
  background-color: rgba(10, 20, 32, 0.7);
  color: #d7c27d;
}

/* ===========================
   Header Styles
=========================== */
.d-header {
  background-color: #151a25 !important;
}

.d-header .wrap {
  opacity: 1;
  background-color: #151a25 !important;
}

/* ===========================
   Sidebar Styles
=========================== */
.sidebar-wrapper {
  background-color: #101a2a;
  background: url($rock_pattern);
  color: #c5b16f;
  leading-trim: both;
  text-edge: cap;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  opacity: 1 !important;
}

.sidebar-footer-wrapper {
  display: none;
}

.sidebar-section-link-wrapper .sidebar-section-link {
  color: #c5b16f;
}

.sidebar-section-link-wrapper .sidebar-section-link-prefix.icon,
.sidebar-section-link-wrapper .sidebar-section-link-prefix.span {
  color: #c5b16f;
}

/* ===========================
   Sidebar Text Styles
=========================== */
.sidebar-section-header-text {
  font-size: 16px;
}

.sidebar-section-link-content-text {
  font-size: 17px;
}

.sidebar-section-header-text,
.sidebar-section-link-content-text {
  color: #c5b16f;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

/* ===========================
   Category Styles
=========================== */
@import "categories/categories.scss";

/* ===========================
   Select Kit Styles
=========================== */
.select-kit-header {
  border: 1px solid rgba(41, 49, 68, 0.9);
  background-color: #181c26 !important;
}

.select-kit.combo-box.category-drop .category-drop-header {
  border: 1px solid rgba(41, 49, 68, 0.9);
}

.list-controls .combo-box .combo-box-header {
  border: 1px solid rgba(41, 49, 68, 0.9);
}

/* ===========================
   Boxed Element Styles
=========================== */
.boxed {
  border-radius: 10px;
}
