@font-face {
  font-family: "XXII Centar Regular";
  src: url($XXIICentarRegular) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.category-name,
.category-description {
  line-height: 22px;
  text-align: left;
}

.category-name {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.category-description {
  font-size: 16px;
  font-weight: 400;
  color: #aaaaaa;
}

.categories table {
  border-collapse: separate !important;
  border-spacing: 0 10px !important;
}

.categories table tr td {
  padding: 10px;
  overflow: hidden;
}

.category {
  &.category-box {
    background: linear-gradient(
      90deg,
      rgba(30, 37, 51, 0.8) 0%,
      rgba(22, 28, 40, 0.8) 100%
    ) !important;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}

.categories table tr td:first-child {
  background: linear-gradient(
    90deg,
    rgba(30, 37, 51, 0.8) 0%,
    rgba(22, 28, 40, 0.8) 100%
  );
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.categories table tr td:last-child {
  background: rgba(22, 28, 40, 0.8);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.navigation-container {
  border-bottom: 0 !important;
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 14px;
    position: absolute;
    bottom: -5px;
    background-image: url($nav-divider);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .nav-pills {
    li {
      a {
        &.active {
          background: linear-gradient(0deg, #0e3d65 0%, #0e3d6500 100%);

          &::after {
            content: "";
            width: 100%;
            height: 5px;
            position: absolute;
            bottom: 0px;
            border-bottom: 1px solid #d5bc75;
            background-image: url($nav-active);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: transparent;
          }
        }

        &:hover {
          background: linear-gradient(0deg, #0e3d65 0%, #0e3d6500 100%);
          color: var(--d-nav-color--active);
        }
      }
    }
  }
}

.select-kit .select-kit-header .selected-name {
  span {
    span {
      .badge-category {
        &::before {
          content: none !important;
        }
      }
    }
  }
}

.select-kit.is-expanded .select-kit-body {
  position: absolute !important;
  transform: none !important;
  top: 100% !important;
}
.select-kit.combo-box.category-drop .category-drop-header[data-value=""],
.select-kit.combo-box.tag-drop .selected-name,
.select-kit.combo-box.tag-drop .caret-icon,
.select-kit.combo-box.category-drop .caret-icon {
  color: #cecece !important;
}

.category-heading {
  display: flex;
  align-items: center;
  .category-logo.aspect-image {
    max-height: unset !important;
    margin: 0.33em 0em 2em 0 !important;
  }
  p {
    span {
      font-family: "XXII Centar Regular";
      font-weight: 400;
      line-height: 20px;
      text-align: left;
    }
  }
}

@font-face {
  font-family: "XXII Centar Regular";
  src: url($XXIICentarRegular) format("truetype");
  font-weight: normal;
  font-style: normal;
}
