#reply-control {
  * > .d-icon {
    color: #b19f63;
  }
  * > .d-icon-share {
    color: #b19f63 !important;
  }
  * > .action-title a {
    color: #ffffff;
  }
  .grippie {
    padding: 0.5px 0 !important;
    background: linear-gradient(
      270deg,
      rgba(119, 96, 48, 0.6) 0%,
      rgba(255, 235, 179, 0.6) 49.21%,
      rgba(119, 96, 48, 0.6) 100%
    );
  }
}

.select-kit.combo-box .select-kit-filter .filter-icon,
.select-kit .select-kit-row .discourse-tag {
  color: #cccccc !important;
}
.select-kit.single-select .select-kit-filter.is-expanded {
  border-bottom: none !important;
  &::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: linear-gradient(
      270deg,
      rgba(119, 96, 48, 0) 0%,
      rgba(119, 96, 48, 0.4) 25%,
      rgba(255, 235, 179, 0.7) 50%,
      rgba(119, 96, 48, 0.4) 75%,
      rgba(119, 96, 48, 0) 100%
    );
  }
}

.select-kit.single-select.is-expanded .select-kit-header:not(.btn),
.select-kit.single-select .select-kit-header:not(.btn):active {
  outline: 1px solid #b19f6380 !important;
  outline-offset: -1px !important;
}

.list-controls .combo-box .combo-box-header {
  border: 1px solid rgba(41, 49, 68, 0.9) !important;
  background-color: #181c26 !important;
}

.chat-composer__inner-container {
  border: 1px solid #1e2533;
  background-color: var(--secondary);
  .btn {
    &:hover,
    &:active {
      border: none !important;
    }
  }
}
