.not-found-container {
  width: 75vw;
  max-width: 900px;
  background: #121824;
}

.page-not-found-search {
  display: none;
}

.page-not-found {
  text-align: center;
  margin: 30px 0 40px 0;
  display: grid;
  gap: 30px;

  .title {
    font-family: "XXII Centar Regular";
    color: white;
  }

  .btn {
    justify-self: flex-start;
    background-color: #171e2c;
    margin-bottom: -30px;
    color: white !important;
  }
}

.page-not-found-topics {
  justify-content: space-between;
  .btn {
    background-color: #222222;
    color: white;
  }
}

.not-found-topic a {
  color: #f9df94 !important;
}

@font-face {
  font-family: "XXII Centar Regular";
  src: url($XXIICentarRegular) format("truetype");
  font-weight: normal;
  font-style: normal;
}
