.user-main .about .details,
.archetype-private_message .topic-map section {
  background: none !important;
}

.user-stream .item,
.user-stream .user-stream-item {
  background: transparent !important;
  border-bottom: none !important;
}

.user-stream .stream-topic-title {
  .title {
    a,
    a:visited {
      color: var(--primary-high);
    }
  }
}

.archetype-private_message .regular.contents {
  border: none;
}
