@font-face {
  font-family: "XXII Centar Regular";
  src: url($XXIICentarRegular) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.sidebar-wrapper {
  background-color: #101a2a;
  background: url($rock_pattern);
  color: #c5b16f;
  leading-trim: both;
  text-edge: cap;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  opacity: 1 !important;
}

.sidebar-footer-wrapper {
  display: none;
}

.sidebar-section-link-wrapper .sidebar-section-link {
  color: var(--sidebar-icon-color) !important;
}

.sidebar-section-link-wrapper .sidebar-section-link-prefix.icon,
.sidebar-section-link-wrapper .sidebar-section-link-prefix.span,
.sidebar-section-wrapper .sidebar-section-header-caret .d-icon {
  color: var(--sidebar-icon-color) !important;
}

/* ===========================
     Sidebar Text Styles
  =========================== */
.sidebar-section-header-text {
  font-family: "XXII Centar Regular";
  font-size: 16px;
}

.sidebar-section-link-content-text {
  font-size: 17px;
  color: #b6b6b6 !important;
}

.sidebar-section-header-text,
.sidebar-section-link-content-text {
  color: #c5b16f;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
